- total_count = WebResource.data_files.count

- all_parses_as_csv = WebResource.data_files.where('parses_as_csv is true')
- parses_as_csv = all_parses_as_csv.count

- with_mandatory_headings = WebResource.data_files.where('first_row is not null').select {|x| x.has_mandatory_headings}

- has_mandatory_headings = with_mandatory_headings.size

- with_no_standard_headers = WebResource.data_files.where('first_row is not null').select {|x| x.standard_headings_present.empty?}
- no_standard_headers = with_no_standard_headers.size

- with_some_mandatory_headings = all_parses_as_csv - with_mandatory_headings - with_no_standard_headers
- some_mandatory_headings = with_some_mandatory_headings.size

- with_parse_error = WebResource.data_files.where('parse_error is not null')
- parse_error = with_parse_error.count
- not_found = WebResource.data_files.where('response_code = 404')
- not_found_count = not_found.count

%h1
  UK Government Spending Data CSV Validator

%h2#good_data
  Good Data
%h3
  All mandatory headers in first row
  \-
  =number_with_delimiter(has_mandatory_headings)
  files

%ul
  - with_mandatory_headings.group_by{|x| x.data_file.origin }.to_a.sort {|a,b| b[1].size <=> a[1].size}.each do |origin, list|
    %li
      = link_to "#{origin} #{list.size}", agency_path(:name => clean(origin) )

%h2#partial_data
  Partial Data
  \-
  =number_to_percentage(100.0 * some_mandatory_headings / total_count, :precision => 0)

%h3
  Some mandatory headers in first row
  \-
  =number_with_delimiter(some_mandatory_headings)
  files

%ul
  - with_some_mandatory_headings.group_by{|x| x.data_file.origin }.to_a.sort {|a,b| b[1].size <=> a[1].size}.each do |origin, list|
    %li
      = link_to "#{origin} #{list.size}", agency_path(:name => clean(origin) )

%h2#bad_data
  Bad Data
  \-
  =number_to_percentage(100.0 * (no_standard_headers + parse_error + not_found_count) / total_count, :precision => 0)

%h3
  No standard headers in first row
  \-
  =number_with_delimiter(no_standard_headers)
  files
  =number_to_percentage(100.0 * no_standard_headers / total_count, :precision => 0)

%ul
  - with_no_standard_headers.group_by{|x| x.data_file.origin }.to_a.sort {|a,b| b[1].size <=> a[1].size}.each do |origin, list|
    %li
      = link_to "#{origin} #{list.size}", agency_path(:name => clean(origin) )

%h3
  Errors parsing file as CSV
  \-
  =number_with_delimiter(parse_error)
  files
  =number_to_percentage(100.0 * parse_error / total_count, :precision => 0)

%ul
  - with_parse_error.group_by{|x| x.data_file.origin }.to_a.sort {|a,b| b[1].size <=> a[1].size}.each do |origin, list|
    %li
      = link_to "#{origin} #{list.size}", agency_path(:name => clean(origin) )

%h3
  File not found
  \-
  =number_with_delimiter(not_found_count)
  files
  =number_to_percentage(100.0 * not_found_count / total_count, :precision => 0)

%ul
  - not_found.group_by{|x| x.data_file.origin }.to_a.sort {|a,b| b[1].size <=> a[1].size}.each do |origin, list|
    %li
      = link_to "#{origin} #{list.size}", agency_path(:name => clean(origin) )

%p{:style => 'font-size: 0.8em; margin-top: 5em;'}
  UK Government Spending Data CSV
  = link_to 'Validator', root_path
  built by
  = link_to '@delineator', 'http://twitter.com/delineator'
  at Rewired State
  = link_to '#nhtg11', 'http://rewiredstate.org/projects/government-spending-data-validation-service'
  %span{:style => 'float: right;'}
    = link_to 'How the service works', methodology_path

