- total_count = WebResource.data_files.count
- parses_as_csv = WebResource.data_files.where('parses_as_csv is true').count
- has_essential_headings = WebResource.data_files.where('first_row is not null').select {|x| x.has_essential_headings}.size
- no_standard_headers = WebResource.data_files.where('first_row is not null').select {|x| x.standard_headings_present.empty?}.size
- some_essential_headings = parses_as_csv - has_essential_headings - no_standard_headers
- parse_error = WebResource.data_files.where('parse_error is not null').count
- not_found_count = WebResource.data_files.where('response_code = 404').count

%h1
  UK Government Spending Data Validator

%h2
  = link_to "Good Data", '/agency_index#good_data'
  \-
  =number_to_percentage(100.0 * has_essential_headings / total_count, :precision => 0)

- if false
  %h3
    =number_to_percentage(100.0 * parses_as_csv / total_count, :precision => 0)
    files parse as CSV
    =number_with_delimiter(parses_as_csv)

%h3{:style => 'color: #666;'}
  All essential headers in first row
  \-
  =number_with_delimiter(has_essential_headings)
  files

%h2
  = link_to "Partial Data", '/agency_index#partial_data'
  \-
  =number_to_percentage(100.0 * some_essential_headings / total_count, :precision => 0)

%h3{:style => 'color: #666;'}
  Some essential headers in first row
  \-
  =number_with_delimiter(some_essential_headings)
  files

%h2
  = link_to "Bad Data", '/agency_index#bad_data'
  \-
  =number_to_percentage(100.0 * (no_standard_headers + parse_error + not_found_count) / total_count, :precision => 0)

%h3{:style => 'color: #666;'}
  No standard headers in first row
  \-
  =number_with_delimiter(no_standard_headers)
  files
  =number_to_percentage(100.0 * no_standard_headers / total_count, :precision => 0)

%h3{:style => 'color: #666;'}
  Errors parsing file
  \-
  =number_with_delimiter(parse_error)
  files
  =number_to_percentage(100.0 * parse_error / total_count, :precision => 0)

%h3{:style => 'color: #666;'}
  File not found
  \-
  =number_with_delimiter(not_found_count)
  files
  =number_to_percentage(100.0 * not_found_count / total_count, :precision => 0)

%p{:style => 'font-size: 0.8em; margin-top: 5em;'}
  Built by
  = link_to '@delineator', 'http://twitter.com/delineator'
  at Rewired State
  = link_to '#nhtg11', 'http://rewiredstate.org/projects/government-spending-data-validation-service'
